@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700;800&display=swap");
* {
  /* background-color: #ffff; */
  font-family: "Plus Jakarta Sans", sans-serif;
}

html {
  background: linear-gradient(180deg, #FFFFFF 0%, #F0F1FF 100%);
}

body {
  overflow: visible !important;
}

#page-container {
  position: relative;
  padding: 0;
  margin: 0;
  min-height: 260vh;
  width: 100%;
  height: 100%;
}

.name {
  position: relative;
  font-weight: 800;
  font-size: 30px;
  left: 10rem;
  color: #13183f;
}

.top-nav {
  background-color: #ffff;
  font-family: "Plus Jakarta Sans";
  position: fixed;
  top: 0%;
  height: 10%;
  width: 100%;
  z-index: 2;
  /* border: 3px solid red; */
}

.start {
  position: absolute;
  left: 75rem;
  top: 40%;
  height: 50%;
  border-radius: 25rem;
  background-color: #13183f;
  color: #ffff;
  border: none;
  width: 7rem;
  z-index: 1;
}

.start:hover {
  background-color: #666ca3;
  color: #ffff;
  transition: 0.7s;
  cursor: pointer;
}

.main {
  position: absolute;
  /* border: 3px solid red; */
  margin-top: 50px;
  width: 457px;
  height: 359px;
  left: 165px;
  top: 252px;
}

.heading {
  top: 50%;
}

.big-text {
  color: #0e1136;
  position: relative;
  font-size: 56px;
  font-weight: 800;
  margin-bottom: 0;
  top: -8rem;
}

.blurb {
  position: relative;
  top: -7.5rem;
  font-size: 18px;
  font-weight: 500;
  color: #9999a3;
  line-height: 28px;
  margin-top: 0%;
}

.button2 {
  background:linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);;
  border-radius: 31.5px;
  border: none;
  height: 63px;
  width: 167px;
  font-size: 18px;
  font-weight: 700;
  color: white;
  position: relative;
  top: -7rem;
}

.button2:hover {
  background-color: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
  color: white;
  transition: 0.7s;
  cursor: pointer;
}

.landing {
  /* border: 3px solid red; */
  position: absolute;
  left: 784px;
  margin-top: 67px;
}

.landing-img {
  max-width: 100%;
  height: auto;
}

.grid {
  /* display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0; */
  /* border: 3px solid red; */
  position: absolute;
  width: 100%;
  height: 888px;
  left: 0px;
  top: 42rem;
  display: grid;
  padding-bottom: 20rem;
}

ul {
  /* align-self: flex-end;
  position: relative; */
  /* margin-top: 100px; */
  /* border: 3px solid red; */
  position: relative;
  width: 1110px;
  height: 748px;
  left: 50px;
  display: table;
  list-style-type: none;
  overflow: hidden;
  /* top: 837px; */
}

/* .square1 {
    width: 100%;
    background-color: #f43b91;
} */

li {
  display: inline;
  /* height: auto;
  width: 125px;
  margin: 10px; */
  /* border: 3px solid green; */
  box-shadow: 0 20px 80px rgba(0, 0, 0, 0.45);
  justify-content: space-evenly;
}

.item1 {
  position: absolute;
  width: 22rem;
  height: 20rem;
  top: 13rem;
  left: 7rem;
  background: linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
  border-radius: 15px;
}

.item1-heading {
  position: absolute;
  top: 5rem;
  background: transparent;
  color: white;
  text-align: center;
  font-family: "Plus Jakarta Sans";
  font-weight: 800;
  font-size: 32px;
  line-height: 40px;
  /* z-index: 1; */
}

.item2 {
  position: absolute;
  width: 22rem;
  height: 20rem;
  top: 13rem;
  left: 31rem;
  background: #ffffff;
  box-shadow: 0px 25px 50px rgba(6, 22, 141, 0.0442381);
  border-radius: 15px;
}

.item2-textzone {
  position: absolute;
  width: 286px;
  height: 218px;
  left: 1rem;
  /* top: 925px;  */
}

.item2-heading {
  color: #13183f;
  font-weight: 800;
  font-size: 24px;
}

.item2-description {
  position: absolute;
  color: #83869a;
  font-family: "Plus Jakarta Sans";
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  left: 0%;
  right: 0%;
}

.item2-img {
  position: absolute;
  top: -3rem;
  z-index: 1;
}

.item-btn {
  position: absolute;
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  color: #f74780;
  font-weight: 700;
  font-size: 18px;
  left: 0rem;
  top: 17rem;
}

.item-btn:hover {
  color: #FFA7C3;
  cursor: pointer;
  transition: 0.7s;
}

.item3 {
  position: absolute;
  /* width: 25%;
    height: 35%; */
  width: 22rem;
  height: 20rem;
  top: 56rem;
  left: 58rem;
  background: #ffffff;
  box-shadow: 0px 25px 50px rgba(6, 22, 141, 0.0442381);
  border-radius: 15px;
}

.item3-img {
  position: absolute;
  top: -3rem;
  z-index: 1;
}

.item3-textzone {
  position: absolute;
  width: 286px;
  height: 218px;
  left: 1rem;
  /* top: 925px;  */
}

.item3-heading {
  color: #13183f;
  font-weight: 800;
  font-size: 24px;
}

.item3-description {
  position: absolute;
  color: #83869a;
  font-family: "Plus Jakarta Sans";
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  left: 0%;
  right: 0%;
}

.item4 {
  position: absolute;
  width: 22rem;
  height: 20rem;
  top: 83rem;
  left: 10.3rem;
  background: #ffffff;
  box-shadow: 0px 25px 50px rgba(6, 22, 141, 0.0442381);
  border-radius: 15px;
}

.item4-textzone {
  position: absolute;
  width: 286px;
  height: 218px;
  left: 1rem;
  /* top: 925px;  */
}

.item4-heading {
  position: absolute;
  top: 1rem;
  left: 0.5rem;
  color: #13183f;
  font-weight: 800;
  font-size: 24px;
}

.item4-description {
  position: absolute;
  color: #83869a;
  font-family: "Plus Jakarta Sans";
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  left: 0.5rem;
  right: 0%;
  top: 5rem;
}

.item4-img {
  position: absolute;
  top: -2rem;
  left: 1rem;
  z-index: 1;
  background-image: none;
}

.item5 {
  position: absolute;
  /* width: 25%;
  height: 35%; */
  width: 22rem;
  height: 20rem;
  top: 83rem;
  left: 34rem;
  background: #ffffff;
  box-shadow: 0px 25px 50px rgba(6, 22, 141, 0.0442381);
  border-radius: 15px;
}

.item5-textzone {
  position: absolute;
  width: 286px;
  height: 218px;
  left: 1rem;
  /* top: 925px;  */
}

.item5-heading {
  position: absolute;
  top: 0.5rem;
  left: 1rem;
  color: #13183f;
  font-weight: 800;
  font-size: 24px;
}

.item5-description {
  position: absolute;
  color: #83869a;
  font-family: "Plus Jakarta Sans";
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  left: 1rem;
  right: 0%;
  top: 5rem;
}

.item5-img {
  position: absolute;
  /* z-index: 1; */
  top: -2rem;
}
.item-btn5 {
  position: relative;
  top: 17rem;
  left: 0.5rem;
  position: absolute;
  background: none;
  border: none;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  cursor: pointer;
  color: #f74780;
}

.item-btn5:hover {
  color: #FFA7C3;
  transition: 0.7s;
  cursor: pointer;
}
.item6 {
  position: absolute;
  /* width: 25%;
  height: 35%; */
  width: 22rem;
  height: 20rem;
  top: 83rem;
  left: 58rem;
  background: #ffffff;
  box-shadow: 0px 25px 50px rgba(6, 22, 141, 0.0442381);
  border-radius: 15px;
}

.item6-textzone {
  position: absolute;
  width: 286px;
  height: 218px;
  left: 1rem;
  /* top: 925px;  */
}

.item6-heading {
  position: absolute;
  top: 0.5rem;
  left: 1rem;
  color: #13183f;
  font-weight: 800;
  font-size: 24px;
}

.item6-description {
  position: absolute;
  color: #83869a;
  font-family: "Plus Jakarta Sans";
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  left: 1rem;
  right: 0%;
  top: 5rem;
}

.item6-img {
  position: absolute;
  top: -2rem;
}

.item-btn6 {
  position: relative;
  top: 17rem;
  left: 0.5rem;
  position: absolute;
  background: none;
  border: none;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  cursor: pointer;
  color: #f74780;
}

.item-btn6:hover {
  color: #FFA7C3;
  transition: 0.7s;
  cursor: pointer;
}

footer {
  height: 6em;
  background-color: #13183f;
}

.footer-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.footer-heading {
  position: absolute;
  left: 2rem;
  top: 118.5rem;
  color: white;
}

.footer-btn {
  position: absolute;
  color: white;
  font-style: normal;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  left: 80rem;
  top: 119.5rem;
  height: 3em;
  width: 8rem;
  background: linear-gradient(180deg, #4851FF -54.32%, #F02AA6 100%);
  border-radius: 28px;
  border: none;
}

.footer-btn:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(180deg, #4851FF -54.32%, #F02AA6 100%);
  transition: 0.7s;
  cursor: pointer;
}
